.tourney{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 260px;
    padding: 12px;
    background-color: #1e586c;
}
.tourney__icon{
    font-size: 45px;
}
.tourney__about{}
.tourney__link{}