.profile{
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 12px;
    border-radius: 5px;
    background-color: #1e586c;
    .profile__img {
        width: 100%;
        img{
            width: 100%;
            border-radius: 5px;
        }
    }

    
    .profile__info {
        .profile__info-header{
            display: flex;
            font-size: 18px;
            // justify-content: flex-start;
            // align-items: center;
            .chess-img{
                width: 43px;
                height: 43px;
                border-radius: 5px;
            }
            .gamer__container{
                display: flex;
                flex-direction: column;
                .gamer__name{}
                .gamer__about{
                    display: flex;
                    gap: 10px;
                    .gamer__from {
                        width: 10px;
                        height: 10px;
                    }
                    .gamer__rating {}
                
                    .gamer__time-zone {}
                }

            }
            .gamer__network {
                // justify-items: flex-end;
            }
            
        }

        .profile__info-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            .time{
                align-items: center;
                padding: 0 30px;
                font-size: 30px;
                border-radius: 5px;
                border: 1px solid white;
                background-color: rgb(71, 70, 70);
                color: rgb(230, 215, 215);
            }
            .shape-color{
                font-size: 45px;
            }
        }
    }
}
